.App {
  text-align: center;
    margin: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    /* background-color: #F2F2F2; */
}

html { 
  width: 100vw; 
}

nav ul { 
  list-style-type: none; 
  margin: 0; 
  padding: 0;
  overflow: hidden;
  float:left;
  justify-content: space-between;
}

   nav li { 
  margin: 15px;
} 

  li a { 
  display: block; 
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  color: black;
  font-weight: bold;
}

 li a:hover,
a:focus {
  color:#696969;
}


  nav {
  display: flex;
 justify-content: space-between;
  align-items: center;
  width: 100%;
  min-height: 55px;
  /* -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23); */
  position: absolute;
  background-color: transparent;
  padding-bottom: 15px;
}

 nav li {
  margin: 0 1rem;
  list-style-type: none;
  display: inline-block;
}   

.headerPhoto { 
  /* padding-top: 100px; */
  margin: 15px;
  height: 400px;
  width: 350px;
}

.hero {
 height: 524px;
 width:886px;
}

.aboutmeStuff {
  font-size: 20px;
  margin: 10px;
}

.projectThings {
  position: relative;
  width: 50%;
}

.projectStuff {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.projects { 
  width: 700px;
}

.projects:hover {
  opacity: 0.3;
}
.text {
  color: black;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.projectThings:hover .middle {
  opacity: 0.8;
}

.middle {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: rgb(230, 237, 240);
}

.iconSkills { 
  width: 60px;
  height: 30%;
  /* display: flex;
  flex-direction: row; */
  padding: 10px 20px 10px 20px;
}

.skills {
  display: flex;
  flex-wrap: wrap;
}

.porfolioText {
  text-decoration: none;
  color: black;
  margin: 20px 20px;
  padding-top: 30px;
  margin-bottom: 30px;
}

.skillsName {
  font-size: 25px;
  text-align: center;
}

.porjectLinks {
margin: 10px 10px;
}

.projectH1 {
  font-size: 40px;
  text-decoration: underline;
}

.footerStuff {
  margin-top: 60px;
}

input#fname {
  width: 55%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 7px;
  box-sizing: border-box;
  margin-top: 7px;
  margin-bottom: 16px;
  resize: vertical;
}

input#email {
  width: 55%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 7px;
  box-sizing: border-box;
  margin-top: 7px;
  margin-bottom: 16px;
  resize: vertical;
}

textarea#subject {
  width: 55%;
  height: 100px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 7px;
  box-sizing: border-box;
  margin-top: 7px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: rgb(164, 147, 128);
  color: white;
  padding: 20px 38px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
  font-size: 13px;
  } 
  
  input[type=submit]:hover {
  background-color: rgb(169, 135, 121);
  }


  label { 
    display: none;
  }

  .socialLinks {
    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: black;
    margin-top: 7px;
    margin-bottom: 7px;
    font-size: 25px;
    font-weight: bold;
  }

  .socialLinks:hover {
   color: grey;
   text-decoration: underline;
  }

  #hero-photo { 
    position: absolute;  
    z-index: -1; 
    width: 100%;
    height: 100%;
    background: url(https://i.imgur.com/JijNmjv.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    overflow: hidden;
  }

  .aboutText {
    display: flex;
    flex-direction: column;
  }

  .portfolioH1, .headerName, .contactHeader {
    padding-top: 40px;
    text-emphasis: bold;
    font-size: 37px;
  }

  .socialTitle {
    padding-top: 10px;
  }

  .frontPage {
    display: flex;
  }

  /* MEDIA QUERIES */

  

