.App {
  text-align: center;
}

nav a {
  text-decoration: none;
  color: black;
}

nav { 
  display: flex;
  justify-content: space-evenly;
}

.headerPhoto { 
  height: 600px;
  width: 500px;
}

.projectThings {
  position: relative;
  width: 50%;
}

.projects { 
  width: 700px;
}

.projects:hover {
  opacity: 0.3;
}
.text {
  color: black;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.projectThings:hover .middle {
  opacity: 0.8;
}

.middle {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: rgb(230, 237, 240);
}